<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Junji Ito Stories</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JunjiIto.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/style.css" />
    <link href=""https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>


    <header>
        <nav class="navbar">
            <div class="container">
                <h1 class="logo">Junji Ito Stories</h1>
                <ul class="nav-links">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li><a asp-area="" asp-controller="Libro" asp-action="Index">Relatos</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a></li>
                </ul>

                <div class="login-area">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>

    <main class="main-content">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <p>© 2025 Junji Ito Stories — Todos los derechos reservados</p>
            <p>Contacto: junjiitostories@email.com</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
