@{
    ViewData["Title"] = "Home Page";
}

<body>
    <header>

        <img src="~/Portadas/banner.png" width="100%" height="70%" />
        <br />
        <br />

    </header>
    <div class="text-center">
        <section class="imagen_izq">
            <nav class="imagen_nav">
                <ul class="imagen-ul">
                    <img src="~/Portadas/Imagen_De_Inicio.png" />
                </ul>
            </nav>   

            <article>
                <h1>Bienvenidos</h1>
                <p>Aqui se mostraran los trabajos de Junji Ito, reconocido escritor
                    de mangas de terror. 
                </p>
                <p>Todos son bienvenidos...</p>
            </article>
        </section>
    </div>

    <footer class="footer">
        <div class="container">
            <p>© 2025 Junji Ito Stories — Todos los derechos reservados</p>
            <p>Contacto: junjiitostories@email.com</p>
        </div>
    </footer>
</body>
